[user]
  name = Dan Quan
  email = dan@quan.io
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = false
  safecrlf = true
[github]
  user = djquan
[alias]
  ctags = !.git/hooks/ctags
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  type = cat-file -t
  dump = cat-file -p
  ds = diff --staged
[color]
  ui = true
[push]
  default = simple
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -FX
  show = diff-so-fancy | less --tabs=1,5 -FX
